
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0D131F;
  color: aliceblue;
}

.page-header {
  width: 100%;
  background: #101826; 
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.08);
}

/* Title on the left */
.page-header .header-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #e0ecf7;
  letter-spacing: 1px;
}

/* Links or tagline on the right */
.page-header .header-right a {
  margin-left: 30px;
  color: rgb(190, 207, 219);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.page-header .header-right a:hover {
  color: #ffffff;
}


.features1 ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features1 li {
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.9;
  padding-bottom: 4px;
  position: relative;
  padding-left: 28px;
}

.features1 li::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 40%;
  transform: translateY(-50%);
  width: 8.5px;
  height: 8.5px;
  border-radius: 50%;
  background-color: rgb(65,167,242);
  box-shadow: 0 0 5px 5px rgba(65, 167, 242, 0.4);
}

.content_inside {
  display: block;
  max-width: 1060px;
  width: 100%;
  margin: 10px auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

.seat-info {
  font-size: 0.85rem;
  opacity: 0.72;
  vertical-align: middle;
  margin-left: 4px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 50px;       /* Increased space between cards */
  flex-wrap: wrap;  /* wrap on smaller screens */
  padding: 20px;
}

.card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(to bottom, rgb(20, 30, 50), rgb(13, 19, 31));
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  border: 0.005px solid rgba(255, 255, 255, 0.16);
}

/* rotate the back side by default */
.card .back {
  transform: rotateY(180deg);
}

/* flip on hover */
.card:hover .front {
  transform: rotateY(180deg);
}
.card:hover .back {
  transform: rotateY(0deg);
}

/* front image */
.card .front img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
    margin-bottom: 20px;
  }
}

.footer-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #101826;
  padding: 10px 20px;
  font-size: 0.5rem;
  text-align: center;
  color: #888;
}
